<!DOCTYPE html>
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Page pour ajouter un utilisateur" />
  <meta name="author" content="Joffrey Lefebvre" />
  <title>Tabarico - ajouter utilisateur</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" sec:authorize="!hasAuthority('MILICE')">
  <div class="container px-4 px-lg-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/personalDashboard">Compta Personnelle</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/addExporterSale">Vente exportateur</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/addCustomerSale">Vente client</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('RESPONSABLE')"><a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link active" aria-current="page" href="/users">Utilisateurs</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('RESPONSABLE')"><a class="nav-link active" aria-current="page" href="/modifyStock">Stock</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link active" aria-current="page" href="/configuration">Configuration</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link active" href="/resetPassword">Changer de mot de passe</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link active" href="/logout">Se deconnecter</a></li>
        <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link active" href="/login">Se connecter</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Tabarico</h1>
      <p class="lead fw-normal text-white-50 mb-0">Fumer tue mais ca nous enrichit</p>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container">

    <div class="row">
      <h2>Ajout d'une vente exportateur</h2>
    </div>

    <div class="row">
      <form action="#" th:action="@{/addExporterSale}" th:object="${exporterSaleDto}" method="post" class="form-horizontal" style="width: 100%">

        <div class="form-group">
          <label for="quantity" class="col-sm-2 control-label">Quantité</label>
          <div class="col-sm-10">
            <input type="text" th:field="*{quantity}" id="quantity" placeholder="Quantité" class="col-4">
            <p class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="level" class="col-sm-2 control-label">Niveau</label>
          <div class="col-sm-10">
            <input type="text" th:field="*{level}" id="level" placeholder="Niveau" class="col-4">
            <p class="text-danger" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <a class="btn btn-danger btn-sm" href="/personalDashboard">Annuler</a>
            <input class="btn btn-primary btn-sm" type="submit" value="Créer">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>