<!DOCTYPE html>
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tabarico</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Acceuil</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/users">Utilisateurs</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/configuration">Configuration</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link active" href="/logout">Se deconnecter</a></li>
                <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link active" href="/login">Se connecter</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Tabarico</h1>
            <p class="lead fw-normal text-white-50 mb-0">Fumer tue mais ca nous enrichit</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row"><h2>Liste des produits</h2></div>
        <a href="/addUser" class="btn btn-primary btn-sm">Ajouter un utilisateur</a>
        <div class="row container px-4 px-lg-5 my-5">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix argent propre</th>
                    <th>Prix argent sale</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.cleanMoney}"></td>
                    <td th:text="${product.dirtyMoney}"></td>
                    <td style="width: 20%" class="text-center">
                        <a th:href="@{/users/{id}(id=${product.id})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/users/{id}/delete(id=${product.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${#fields.allErrors()}">
                <div class="error" th:text="${error}"></div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row"><h2>Liste des contrats</h2></div>
        <a href="/addUser" class="btn btn-primary btn-sm">Ajouter un utilisateur</a>
        <div class="row container px-4 px-lg-5 my-5">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Reduction</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contract : ${contracts}">
                    <td th:text="${contract.company}"></td>
                    <td th:text="${contract.reduction} + ' %'"></td>
                    <td style="width: 20%" class="text-center">
                        <a th:href="@{/users/{id}(id=${contract.id})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/users/{id}/delete(id=${contract.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${#fields.allErrors()}">
                <div class="error" th:text="${error}"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>