<!DOCTYPE html>
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Page pour ajouter un utilisateur" />
  <meta name="author" content="Joffrey Lefebvre" />
  <title>Tabarico - ajouter utilisateur</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
  <script type="text/javascript" src="js/modifyStock.js"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/personalDashboard">Compta Personnelle</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/addExporterSale">Vente exportateur</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/addCustomerSale">Vente client</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('RESPONSABLE')"><a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link active" aria-current="page" href="/users">Utilisateurs</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('RESPONSABLE')"><a class="nav-link active" aria-current="page" href="/modifyStock">Stock</a></li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link active" aria-current="page" href="/configuration">Configuration</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link active" href="/logout">Se deconnecter</a></li>
        <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link active" href="/login">Se connecter</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Tabarico</h1>
      <p class="lead fw-normal text-white-50 mb-0">Fumer tue mais ca nous enrichit</p>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container">

    <div class="row">
      <h2>Modification du stock</h2>
    </div>

    <div class="row">
      <form action="#" th:action="@{/modifyStock}" th:object="${stockDto}" method="post" class="form-horizontal" style="width: 100%">

        <div class="form-group">
          <label for="product" class="col-sm-2 control-label">Produit</label>
          <div class="col-sm-10">
            <select id="product" class="col-4" th:field="*{product}" onchange="showStock(this)">
              <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}" th:attr="stock=${product.stock}"></option>
            </select>
            <p class="text-danger" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="actualStock" class="col-sm-2 control-label">Stock actuel</label>
          <div class="col-sm-10">
            <span id="actualStock" class="col-4">0</span>
          </div>
        </div>
        <div class="form-group">
          <label for="operationStock" class="col-sm-2 control-label">Type d'operation</label>
          <div class="col-sm-10">
            <select id="operationStock" class="col-4" th:field="*{operationStock}">
              <option th:each="operationStock : ${operationStocks}" th:value="${operationStock.name()}" th:text="${operationStock.toString()}"></option>
            </select>
            <p class="text-danger" th:if="${#fields.hasErrors('operationStock')}" th:errors="*{operationStock}"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="quantity" class="col-sm-2 control-label">Quantité</label>
          <div class="col-sm-10">
            <input type="number" th:field="*{quantity}" id="quantity" placeholder="Quantité" class="col-4">
            <p class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-12">
            <a class="btn btn-danger btn-sm" href="/personalDashboard">Annuler</a>
            <input class="btn btn-primary btn-sm" type="submit" value="Créer">
          </div>
        </div>
      </form>
    </div>
  </div>
  <br/>
  <div class="container">
    <label for="date">Date</label>
    <input type="date" id="date" name="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">

    <h2>Historique</h2>

    <div class="row container px-4 px-lg-5 my-5">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Date</th>
          <th>Type de mouvement</th>
          <th>Produit</th>
          <th>Type d'opération</th>
          <th>Quantité</th>
          <th>Stock après opération</th>
          <th>Utilisateur</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stock : ${stocks}">
          <td th:text="${stock.date}"></td>
          <td th:text="${stock.typeOfStockMovement.toString()}"></td>
          <td th:text="${stock.product.name}"></td>
          <td th:text="${stock.operationStock.toString()}"></td>
          <td th:text="${stock.quantity}"></td>
          <td th:text="${stock.stock}"></td>
          <td th:text="${stock.user.toString()}"></td>
        </tr>
        </tbody>
      </table>
      <div th:if="${#fields.allErrors()}">
        <div class="error" th:text="${error}"></div>
      </div>
    </div>
  </div>
</section>
</body>
</html>